<!-- footer.html -->
<style>
/* Footer 스타일 설정 */
footer {
    position: fixed; /* 화면 하단에 고정 */
    bottom: 0; /* 화면 하단에 정렬 */
    width: 100%; /* 가로 폭을 화면 너비에 맞춤 */
    background-color: #333; /* 원하는 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    padding: 10px; /* 원하는 안쪽 여백 설정 */
}
</style>
<footer class="py-5 bg-dark" id="footer">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; Linkmate 2023
        </p>
    </div>
    <!-- /.container -->
</footer>
