<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMARK</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .centered-text {
            font-size: 24px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="centered-text">
        <p>Welcome <br>enter the <a href="/bookmark/">BMARK</a></p>

    </div>
</body>
</html>
